body {
	margin: 0;
	padding: 0;
	background-color: black;
	overflow-x: hidden;
}

h1 {
	color: white;
}

@font-face { 
	font-family: Bodoni;
	src: url('fonts/BauerBodIta.ttf');
} 

/* FOR THE LOGIN */
.login {
	text-align: center;
	margin-top: 40px;
}

.login a {
	color: #858584;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	letter-spacing: 2px;
	margin-right: 40px;
}

.logo {
	position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
}
/* FOR THE INDEX */
.container {
	height: 100%;
}

.homeDiv {
	width: 25%;
	background-color: black;
	height: 250px;
	display: inline;
	float: left;
	background-size: 100% 100%;
  background-repeat: no-repeat;
}

.homeSpacer {
	width: 100%;
	background-color: black;
	height: 225px;
	float: left;
}

.homeSpacer img {
	width: 170px;
	text-align: center;
}

.homeSpacerLogo {
/*	position: relative;*/
  top: 30%;
/*  left: 50%;*/
/*  margin-top: -50px;
  margin-left: -100px;*/
  margin-top: 65px;
  text-align: center;
}

#homeAboutLink {
	color: #777777;	
	position: relative;
	float: right;
	left: -30px;
	top: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	letter-spacing: 2px
}

#homeLogoutLink {
	color: #777777;	
	position: relative;
	float: right;
	left: -70px;
	top: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	letter-spacing: 2px;
	text-decoration: none
}

.aboutText {
	color: white;
	position: relative;
	top: 48px;
	width: 42%;
	margin: 0 auto;
	min-width: 556px;
	display: none;
}

p {
	font-family: 'Raleway', sans-serif;
	line-height:	1.6;
	letter-spacing: 1.5px;
	font-size: 13px;
	color: white;
}

p .dropCap {
	font-family: Bodoni, serif;
  font-style: italic;
  font-size: 50px;
  float: left;
  line-height: 40px;
  padding-right: 3px;
}

.hoverInfo {
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	line-height:	1.6;
	letter-spacing: 1.5px;
	font-size: 13px;
	top: -64px;
	position: relative;
}

.hoverInfo p {
	position:	absolute;
	width: 100%;
	margin: 0 auto;
	display: none;
	z-index: 9;
}

.blackHide {
	display: none;
	width: 179px;
	height: 69px;
	background-color: black;
	position: relative;
	top: 310px;
	margin: auto;
}

.homeCitation {
	font-family: Bodoni, serif;
  font-style: italic;
  font-size: 30px;
}

.homeCitationReg {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	letter-spacing: 2.5px;
	font-size: 10px;
	text-transform: uppercase;
/*	color: white;*/
}

/* FOR THE SHOW PAGE */
* {
  box-sizing: border-box; }

header {
  border: 20px solid #000;
  background: yellow;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.75);
	background-size: 100% 100%;
	position: relative;
	cursor: pointer;
	}

header h1 {
    font-size: 18px;
    margin: auto; }

article {
  padding: 1em 3em; }

footer {
  text-align: left;
  margin-left: 21%;
  margin-top: 60px;
  margin-bottom: 3em; }

#scoreText {
/*	position: absolute;
	left: 46%,
	top: 30%;*/
	font-family: 'Raleway', sans-serif;
/*	line-height:	1.6;*/
	letter-spacing: 2.5px;
	font-size: 11px;
	color: white;
}

div#scoreTextDiv {
	/*position: absolute;*/
	/*left: 46%,*/
	/*top: 30%;*/
/*	width: 150%;
	height: 100%*/
	margin-bottom: 50px;
	text-align: center;
}

.smallScore {
	font-family: Bodoni, serif;
  font-style: italic;
  font-size: 20px;
}

.bigScore {
	font-family: Bodoni, serif;
  font-style: italic;
  font-size: 90px;
}

#instaName {
	text-transform: uppercase;
	text-align: center;
/*	padding-left: 30px;*/
}

.bottomRight {
	position: absolute;
	bottom: 25px;
	right: 35px;
	color: white
}

.homeTopLeft a {
	color: #777777;	
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	letter-spacing: 2px;
	text-decoration: none;
	position: absolute;
	left: 1%;
	top: 2%;
	left: 25px;
}

article {
	width: 66%;
	margin: 0 auto;
}

article p {
	font-size: 14px;
	color: rgb(197, 197, 197);
	font-family: garamond, serif;
}

footer p a {
	text-decoration: none;
	color: white;
}

footer p {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.footerHeading {
	font-family: Bodoni, serif;
  font-style: italic;
  font-size: 20px;
  text-transform: none;
}

a.linkMe {
    display: block;
    /*height: 100%;*/
    /*width: 100%;*/
    text-decoration: none;
}

.citations {
	font-family: Bodoni, serif;
  font-style: italic;
  font-size: 23px;
  letter-spacing: 2px;
}

p .citationsArgs {
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	letter-spacing: 2px;
	line-height: 200%;
}

.em {
	font-style: italic;
	color: white;
	font-size: 16px
}

.compShowName {
	font-family: 'Raleway', sans-serif;
	line-height:	1.6;
	letter-spacing: 2.5px;
	font-size: 14px;
	color: white;
	padding-bottom: 20px;
}

.ethical {
	float: left;
}