<% include ../partials/header %>
<body>

<div class="logo">
	<img src="images/logo_1.png" alt="Beauty Ethics">
	
	<div class="login">
	<a href="/auth/instagram">LOGIN WITH INSTAGRAM</a>
	</div>

</div>

<% include ../partials/footer %>